In [19]:
## read from s3
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext
from pyspark.sql.types import *
from pyspark.sql import SparkSession

spark = SparkSession\
    .builder\
    .master('local')\
    .getOrCreate()

In [20]:
item_path="s3://dmetasoul-bucket/demo/movielens/mango/items.parquet/*"
user_path="s3://dmetasoul-bucket/demo/movielens/mango/users.parquet/*"

item_df_ori = spark.read.parquet(item_path)
item_df = item_df_ori.withColumn("id", item_df_ori["movie_id"].cast(StringType())).drop('movie_id')

user_df_ori = spark.read.parquet(user_path)
user_df = user_df_ori.withColumn("id", user_df_ori["user_id"].cast(StringType())).drop('user_id')

In [21]:
item_df.show(20)

+--------------------+--------------------+---+
|               title|               genre| id|
+--------------------+--------------------+---+
|    Toy Story (1995)|Animation|Childre...|  1|
|      Jumanji (1995)|Adventure|Childre...|  2|
|Grumpier Old Men ...|      Comedy|Romance|  3|
|Waiting to Exhale...|        Comedy|Drama|  4|
|Father of the Bri...|              Comedy|  5|
|         Heat (1995)|Action|Crime|Thri...|  6|
|      Sabrina (1995)|      Comedy|Romance|  7|
| Tom and Huck (1995)|Adventure|Children's|  8|
| Sudden Death (1995)|              Action|  9|
|    GoldenEye (1995)|Action|Adventure|...| 10|
|American Presiden...|Comedy|Drama|Romance| 11|
|Dracula: Dead and...|       Comedy|Horror| 12|
|        Balto (1995)|Animation|Children's| 13|
|        Nixon (1995)|               Drama| 14|
|Cutthroat Island ...|Action|Adventure|...| 15|
|       Casino (1995)|      Drama|Thriller| 16|
|Sense and Sensibi...|       Drama|Romance| 17|
|   Four Rooms (1995)|            Thriller| 18|
|Ace Ventura: When...|              Comedy| 19|
|  Money Train (1995)|              Action| 20|
+--------------------+--------------------+---+
only showing top 20 rows

In [22]:
user_df.show(20)

+------+---+----------+-----+--------------------+----------+--------------------+----+
|gender|age|occupation|  zip|    recent_movie_ids|last_movie|          last_genre|  id|
+------+---+----------+-----+--------------------+----------+--------------------+----+
|     F| 18|         4|93117|15001043052440...|      1562|ActionAdventure...| 162|
|     M| 50|         7|19072|27972100307223...|      1234|        ComedyCrime| 244|
|     M| 35|        14|75034|25982013276223...|      2701|ActionSci-FiWes...| 344|
|     M| 50|        17|32951|38046615733107...|      1097|Children'sDrama...| 615|
|     F| 50|         0|48103|43525301544519...|      1750|AdventureChildre...| 689|
|     M| 18|        20|92026|6034321531005...|      1461|              Comedy| 869|
|     F| 25|         0|21030|35272797497121...|      3526|        ComedyDrama| 954|
|     F| 18|         0|43615|15801895500539...|       372|        ComedyDrama| 967|
|     M|  1|        10|49544|11363421355532...|      2411|        ActionDrama|1198|
|     M| 18|         4|91006|38653948386311...|       589|ActionSci-FiThr...|1234|
|     M| 25|         7|94904|39113897394838...|      3578|        ActionDrama|1292|
|     M| 18|        17|10804|28461189257222...|      3911|              Comedy|1399|
|     M| 25|        16|78411|29762710301623...|      1348|              Horror|1593|
|     F| 25|        19|98102|3219665561103...|      3160|               Drama|1699|
|     M| 25|         0|73147|14603248205514...|      2798|              Comedy|1709|
|     M| 25|         3|96813|54938521268108...|      3148|               Drama|1752|
|     F| 35|        12|46755|10571489287721...|      3424|        ComedyDrama|2248|
|     M| 35|         7|08021|37832321912268...|       555|ActionCrimeRomance|2395|
|     M| 35|        12|27614|13723292012780...|      1198|    ActionAdventure|2728|
|     M| 50|        12|60148|34436142124368...|      3809|              Comedy|2754|
+------+---+----------+-----+--------------------+----------+--------------------+----+
only showing top 20 rows

In [8]:
## read from mongo
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext
from pyspark.sql.types import *
from pyspark.sql import SparkSession

table_name='user'
mongodb_uri = "mongodb://jpa:Dmetasoul_123456@172.31.37.47:27017/jpa." + table_name

spark = SparkSession \
    .builder \
    .master('local') \
    .config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector_2.12:3.0.1") \
    .config("spark.mongodb.input.uri", mongodb_uri) \
    .config("spark.mongodb.output.uri", mongodb_uri) \
    .getOrCreate()

sc = spark.sparkContext
print(sc.version)
print(sc.applicationId)
print(sc.uiWebUrl)

3.1.2
local-1647311356815
http://jupyter.my.nginx.test/hub/user-redirect/proxy/4040/jobs/

In [15]:
df = spark.read.format("mongo").load()

In [16]:
df

DataFrame[_id: struct<oid:string>, age: int, gender: string, last_genre: string, last_movie: string, occupation: string, queryid: string, recent_movie_ids: string, user_greater_than_3_rate: double, user_id: bigint, user_movie_avg_rating: double, zip: string]

In [17]:
df.show(20)

+--------------------+---+------+--------------------+----------+----------+-------+--------------------+------------------------+-------+---------------------+----------+
|                 _id|age|gender|          last_genre|last_movie|occupation|queryid|    recent_movie_ids|user_greater_than_3_rate|user_id|user_movie_avg_rating|       zip|
+--------------------+---+------+--------------------+----------+----------+-------+--------------------+------------------------+-------+---------------------+----------+
|{622afbcc85aeb51f...| 25|     M|    ActionDramaWar|      2028|         0|    134|36233298361835...|      0.3003823047515019|    134|   2.7158469945355193|     66212|
|{622afbcc85aeb51f...| 35|     M|ComedyCrimeMyst...|      1732|        16|    245|34202206903942...|      0.1845308205732234|    245|   2.6714659685863875|     66046|
|{622afbcc85aeb51f...| 35|     M|HorrorSci-FiThr...|      3826|         7|    329|27903882391436...|     0.26959822012825546|    329|   2.7264397905759163|     02115|
|{622afbcc85aeb51f...| 25|     M|Film-NoirMystery...|      1783|         2|    504|29872726218610...|      0.6753006475485662|    504|   3.8055555555555554|     17003|
|{622afbcc85aeb51f...| 25|     M|Children'sComedy...|      1812|        20|    536|6611405673135...|      0.7282246549262257|    536|    3.942857142857143|     01267|
|{622afbcc85aeb51f...| 35|     M|      ComedyRomance|      2396|        20|    645|1123011982324...|      0.9070294784580498|    645|   4.4772727272727275|     11215|
|{622afbcc85aeb51f...| 25|     M|              Horror|      1969|         7|    732|35843431240219...|      0.5596801827527128|    732|   3.4285714285714284|     07030|
|{622afbcc85aeb51f...| 25|     M|ActionAdventure...|      2041|        12|    971|24706482405736...|     0.45271178843567905|    971|   3.3318385650224216|     43615|
|{622afbcc85aeb51f...| 18|     M|         CrimeDrama|       296|         4|   1081|27171682285837...|      0.8211143695014662|   1081|    4.147058823529412|68144-2410|
|{622afbcc85aeb51f...| 25|     F|ActionAdventure...|      1197|         9|   1344|27973671073217...|      0.6657789613848203|   1344|                 3.72|     43420|
|{622afbcc85aeb51f...| 25|     M|        CrimeHorror|      2158|         5|   1369|24501225213419...|      0.6731007176441475|   1369|    3.782178217821782|     12308|
|{622afbcc85aeb51f...| 35|     M|DramaRomanceThr...|      1674|         1|   1590|12401231118519...|      0.6982543640897755|   1590|                  4.0|     95003|
|{622afbcc85aeb51f...| 18|     F|AdventureAnimati...|      2987|         5|   1596|27122716299528...|      0.5627705627705627|   1596|   3.5652173913043477|     48108|
|{622afbcc85aeb51f...| 25|     M|              Horror|      1655|         0|   1611|20897831025192...|      0.5826290235569141|   1611|    3.573741007194245|     03867|
|{622afbcc85aeb51f...| 18|     M|               Drama|      3509|         4|   1626|31761897184080...|      0.5606787163408335|   1626|   3.4391143911439115|     10010|
|{622afbcc85aeb51f...| 45|     F|       DramaRomance|      2919|         0|   1654|11128581965392...|      0.8067940552016984|   1654|    4.446808510638298|     94114|
|{622afbcc85aeb51f...| 25|     F|       DramaRomance|      1721|         4|   1859|35481214299728...|      0.5856832971800434|   1859|   3.5652173913043477|     66049|
|{622afbcc85aeb51f...| 18|     F|        ComedyDrama|      3897|        19|   2160|28045853363270...|      0.6467661691542288|   2160|                 3.95|     46556|
|{622afbcc85aeb51f...| 25|     M|        ActionDrama|      1954|         7|   2816|12101036480375...|      0.7239819004524887|   2816|   3.8181818181818183|     60015|
|{622afbcc85aeb51f...| 25|     F|       HorrorSci-Fi|      2668|         4|   2843|32853663179345...|     0.33248081841432225|   2843|   2.8461538461538463|     78705|
+--------------------+---+------+--------------------+----------+----------+-------+--------------------+------------------------+-------+---------------------+----------+
only showing top 20 rows

In [18]:
table_name='item'
mongodb_uri = "mongodb://jpa:Dmetasoul_123456@172.31.37.47:27017/jpa." + table_name
df = spark.read.format("mongo").option("uri", mongodb_uri).load()

In [19]:
df

DataFrame[_id: struct<oid:string>, genre: string, imdb_url: string, movie_id: bigint, queryid: string, title: string]

In [20]:
df.show(20)

+--------------------+------------------+--------------------+--------+-------+--------------------+
|                 _id|             genre|            imdb_url|movie_id|queryid|               title|
+--------------------+------------------+--------------------+--------+-------+--------------------+
|{622afb8516187c75...|        Children's|https://www.imdb....|     343|    343|Baby-Sitters Club...|
|{622afb8516187c75...|        Children's|https://www.imdb....|    3820|   3820|Thomas and the Ma...|
|{622afb8516187c75...|        Children's|https://www.imdb....|    1426|   1426|Zeus and Roxanne ...|
|{622afb8516187c75...|        Children's|https://www.imdb....|    2047|   2047|Gnome-Mobile, The...|
|{622afb8516187c75...|        Children's|https://www.imdb....|    2846|   2846|Adventures of Mil...|
|{622afb8516187c75...|Children's|Fantasy|https://www.imdb....|    1583|   1583|Simple Wish, A (1...|
|{622afb8516187c75...|             Drama|https://www.imdb....|      26|     26|      Othello (1995)|
|{622afb8516187c75...|             Drama|https://www.imdb....|    2250|   2250|Men Don't Leave (...|
|{622afb8516187c75...|             Drama|https://www.imdb....|     191|    191|Scarlet Letter, T...|
|{622afb8516187c75...|             Drama|https://www.imdb....|     418|    418|  Being Human (1993)|
|{622afb8516187c75...|             Drama|https://www.imdb....|    1360|   1360|Identification of...|
|{622afb8516187c75...|             Drama|https://www.imdb....|    1840|   1840|  He Got Game (1998)|
|{622afb8516187c75...|             Drama|https://www.imdb....|    3009|   3009|Portraits Chinois...|
|{622afb8516187c75...|             Drama|https://www.imdb....|     730|    730|Low Life, The (1994)|
|{622afb8516187c75...|             Drama|https://www.imdb....|    2994|   2994|    City, The (1998)|
|{622afb8516187c75...|             Drama|https://www.imdb....|    3845|   3845|And God Created W...|
|{622afb8516187c75...|             Drama|https://www.imdb....|    2030|   2030|East Palace West ...|
|{622afb8516187c75...|             Drama|https://www.imdb....|    2520|   2520|      Airport (1970)|
|{622afb8516187c75...|             Drama|https://www.imdb....|     926|    926|All About Eve (1950)|
|{622afb8516187c75...|             Drama|https://www.imdb....|    1280|   1280|Raise the Red Lan...|
+--------------------+------------------+--------------------+--------+-------+--------------------+
only showing top 20 rows

In [9]:
table_name='swing'
mongodb_uri = "mongodb://jpa:Dmetasoul_123456@172.31.37.47:27017/jpa." + table_name
df = spark.read.format("mongo").option("uri", mongodb_uri).load()

In [10]:
df

DataFrame[_id: struct<oid:string>, key: string, queryid: string, value: array<struct<_1:string,_2:double>>]

In [11]:
df.show(20)

+--------------------+----+-------+--------------------+
|                 _id| key|queryid|               value|
+--------------------+----+-------+--------------------+
|{622ff6fc504f0700...|1043|   1043|[{2858, 0.1703198...|
|{622ff6fc504f0700...|1425|   1425|[{2858, 0.4763189...|
|{622ff6fc504f0700...| 169|    169|[{1580, 0.3709909...|
|{622ff6fc504f0700...|1880|   1880|[{608, 0.06187682...|
|{622ff6fc504f0700...|1987|   1987|[{2513, 0.1199783...|
|{622ff6fc504f0700...| 205|    205|[{2858, 0.1634177...|
|{622ff6fc504f0700...|2129|   2129|[{593, 0.00814850...|
|{622ff6fc504f0700...|2402|   2402|[{1196, 3.7375442...|
|{622ff6fc504f0700...|2477|   2477|[{110, 0.05286593...|
|{622ff6fc504f0700...|2495|   2495|[{1210, 0.4647862...|
|{622ff6fc504f0700...|2644|   2644|[{1219, 2.5366537...|
|{622ff6fc504f0700...|2789|   2789|[{1350, 0.6143141...|
|{622ff6fc504f0700...|2808|   2808|[{2571, 3.4787178...|
|{622ff6fc504f0700...|2915|   2915|[{1270, 20.789760...|
|{622ff6fc504f0700...|3179|   3179|[{2858, 15.036294...|
|{622ff6fc504f0700...|3241|   3241|[{3481, 0.2366309...|
|{622ff6fc504f0700...|3299|   3299|[{2858, 3.3613603...|
|{622ff6fc504f0700...| 334|    334|[{2858, 0.4394412...|
|{622ff6fc504f0700...|3553|   3553|[{2858, 0.3790180...|
|{622ff6fc504f0700...|3786|   3786|[{2858, 3.5557060...|
+--------------------+----+-------+--------------------+
only showing top 20 rows

In [12]:
table_name='itemcf'
mongodb_uri = "mongodb://jpa:Dmetasoul_123456@172.31.37.47:27017/jpa." + table_name
df = spark.read.format("mongo").option("uri", mongodb_uri).load()

In [13]:
df

DataFrame[_id: struct<oid:string>, key: string, queryid: string, value: array<struct<_1:string,_2:double>>]

In [14]:
df.show(20)

+--------------------+----+-------+--------------------+
|                 _id| key|queryid|               value|
+--------------------+----+-------+--------------------+
|{62300dc01029a046...|1349|   1349|[{2655, 0.2504471...|
|{62300dc01029a046...|1485|   1485|[{500, 0.42727186...|
|{62300dc01029a046...|1956|   1956|[{1293, 0.3193006...|
|{62300dc01029a046...|2249|   2249|[{333, 0.29832160...|
|{62300dc01029a046...|2392|   2392|[{1911, 0.2948127...|
|{62300dc01029a046...|2718|   2718|[{2572, 0.3027751...|
|{62300dc01029a046...| 272|    272|[{3260, 0.2766884...|
|{62300dc01029a046...|3365|   3365|[{599, 0.39576591...|
|{62300dc01029a046...|3641|   3641|[{2101, 0.6861529...|
|{62300dc01029a046...| 442|    442|[{379, 0.43976573...|
|{62300dc01029a046...| 462|    462|[{2751, 0.1759805...|
|{62300dc01029a046...| 470|    470|[{3774, 0.2011641...|
|{62300dc01029a046...| 743|    743|[{65, 0.240727192...|
|{62300dc01029a046...|1617|   1617|[{50, 0.508617037...|
|{62300dc01029a046...|1872|   1872|[{666, 0.67912238...|
|{62300dc01029a046...|2190|   2190|[{981, 0.15179690...|
|{62300dc01029a046...|2261|   2261|[{1257, 0.3019722...|
|{62300dc01029a046...|3001|   3001|[{2556, 0.3027054...|
|{62300dc01029a046...|3256|   3256|[{349, 0.55105228...|
|{62300dc01029a046...|3398|   3398|[{3397, 0.5152426...|
+--------------------+----+-------+--------------------+
only showing top 20 rows

In [24]:
table_name='item_feature'
mongodb_uri = "mongodb://jpa:Dmetasoul_123456@172.31.37.47:27017/jpa." + table_name
df = spark.read.format("mongo").option("uri", mongodb_uri).load()

In [25]:
df

DataFrame[_id: struct<oid:string>, genre: string, genre_great_than_3_rate: double, genre_movie_avg_rating: double, genre_watch_volume: double, movie_avg_rating: double, movie_great_than_3_rate: double, movie_id: bigint, queryid: string, watch_volume: double]

In [26]:
df.show(20)

+--------------------+------------------+-----------------------+----------------------+------------------+------------------+-----------------------+--------+-------+------------------+
|                 _id|             genre|genre_great_than_3_rate|genre_movie_avg_rating|genre_watch_volume|  movie_avg_rating|movie_great_than_3_rate|movie_id|queryid|      watch_volume|
+--------------------+------------------+-----------------------+----------------------+------------------+------------------+-----------------------+--------+-------+------------------+
|{622afc16bcea6f32...|        Children's|     0.3412616339193381|    2.9517241379310346|  5.66988092298052|2.4285714285714284|    0.21428571428571427|     343|    343|3.7376696182833684|
|{622afc16bcea6f32...|        Children's|     0.3412616339193381|    2.9517241379310346|  5.66988092298052|1.8108108108108107|    0.10810810810810811|    3820|   3820|3.6109179126442243|
|{622afc16bcea6f32...|        Children's|     0.3412616339193381|    2.9517241379310346|  5.66988092298052|2.5217391304347827|    0.17391304347826086|    1426|   1426|3.1354942159291497|
|{622afc16bcea6f32...|        Children's|     0.3412616339193381|    2.9517241379310346|  5.66988092298052|3.1818181818181817|     0.3181818181818182|    2047|   2047| 3.091042453358316|
|{622afc16bcea6f32...|        Children's|     0.3412616339193381|    2.9517241379310346|  5.66988092298052|3.3674698795180724|    0.45180722891566266|    2846|   2846| 5.111987788356544|
|{622afc16bcea6f32...|Children's|Fantasy|                   null|                  null|              null|2.7777777777777777|     0.2222222222222222|    1583|   1583| 3.295836866004329|
|{622afc16bcea6f32...|             Drama|     0.6524230612862144|    3.7806108254130657| 11.62108904836042|              3.53|                   0.59|      26|     26| 4.605170185988092|
|{622afc16bcea6f32...|             Drama|     0.6524230612862144|    3.7806108254130657| 11.62108904836042|3.1451612903225805|     0.4032258064516129|    2250|   2250| 4.127134385045092|
|{622afc16bcea6f32...|             Drama|     0.6524230612862144|    3.7806108254130657| 11.62108904836042| 2.466666666666667|                   0.16|     191|    191|  4.31748811353631|
|{622afc16bcea6f32...|             Drama|     0.6524230612862144|    3.7806108254130657| 11.62108904836042|2.5172413793103448|    0.20689655172413793|     418|    418| 3.367295829986474|
|{622afc16bcea6f32...|             Drama|     0.6524230612862144|    3.7806108254130657| 11.62108904836042|               3.5|                    0.5|    1360|   1360|0.6931471805599453|
|{622afc16bcea6f32...|             Drama|     0.6524230612862144|    3.7806108254130657| 11.62108904836042|           3.38125|                0.48125|    1840|   1840| 5.075173815233827|
|{622afc16bcea6f32...|             Drama|     0.6524230612862144|    3.7806108254130657| 11.62108904836042|              null|                   null|    3009|   3009|              null|
|{622afc16bcea6f32...|             Drama|     0.6524230612862144|    3.7806108254130657| 11.62108904836042|               1.0|                   null|     730|    730|               0.0|
|{622afc16bcea6f32...|             Drama|     0.6524230612862144|    3.7806108254130657| 11.62108904836042|               3.5|                    0.5|    2994|   2994| 2.302585092994046|
|{622afc16bcea6f32...|             Drama|     0.6524230612862144|    3.7806108254130657| 11.62108904836042| 3.392857142857143|     0.4642857142857143|    3845|   3845| 3.332204510175204|
|{622afc16bcea6f32...|             Drama|     0.6524230612862144|    3.7806108254130657| 11.62108904836042|              null|                   null|    2030|   2030|              null|
|{622afc16bcea6f32...|             Drama|     0.6524230612862144|    3.7806108254130657| 11.62108904836042|3.1452513966480447|     0.4022346368715084|    2520|   2520| 5.187385805840755|
|{622afc16bcea6f32...|             Drama|     0.6524230612862144|    3.7806108254130657| 11.62108904836042| 4.255583126550868|     0.8436724565756824|     926|    926| 5.998936561946683|
|{622afc16bcea6f32...|             Drama|     0.6524230612862144|    3.7806108254130657| 11.62108904836042|4.1732851985559565|     0.8158844765342961|    1280|   1280|5.6240175061873385|
+--------------------+------------------+-----------------------+----------------------+------------------+------------------+-----------------------+--------+-------+------------------+
only showing top 20 rows

In [29]:
df[df['queryid']=='858'].show()

+--------------------+------------------+-----------------------+----------------------+------------------+-----------------+-----------------------+--------+-------+-----------------+
|                 _id|             genre|genre_great_than_3_rate|genre_movie_avg_rating|genre_watch_volume| movie_avg_rating|movie_great_than_3_rate|movie_id|queryid|     watch_volume|
+--------------------+------------------+-----------------------+----------------------+------------------+-----------------+-----------------------+--------+-------+-----------------+
|{622afc2fbcea6f32...|Action|Crime|Drama|                   null|                  null|              null|4.524966261808367|     0.8947368421052632|     858|    858|7.706612913964197|
+--------------------+------------------+-----------------------+----------------------+------------------+-----------------+-----------------------+--------+-------+-----------------+

In [34]:
item_feature_path="s3://dmetasoul-bucket/demo/movielens/mango/item_feature.parquet/*"
item_feature_df = spark.read.parquet(item_feature_path)
item_feature_df[item_feature_df['movie_id']=='858'].show()

+--------+-----------------+------------------+-----------------+-----------------------+------------------+----------------------+-----------------------+
|movie_id|     watch_volume|             genre| movie_avg_rating|movie_great_than_3_rate|genre_watch_volume|genre_movie_avg_rating|genre_great_than_3_rate|
+--------+-----------------+------------------+-----------------+-----------------------+------------------+----------------------+-----------------------+
|     858|7.706612913964197|Action|Crime|Drama|4.524966261808367|     0.8947368421052632|              null|                  null|                   null|
+--------+-----------------+------------------+-----------------+-----------------------+------------------+----------------------+-----------------------+

In [36]:
from pyspark.sql.functions import col,isnan,when,count
df2 = item_feature_df.select([count(when(col(c).contains('None') | \
                            col(c).contains('NULL') | \
                            (col(c) == '' ) | \
                            col(c).isNull() | \
                            isnan(c), c 
                           )).alias(c)
                    for c in item_feature_df.columns])
df2.toPandas()

,movie_id,watch_volume,genre,movie_avg_rating,movie_great_than_3_rate,genre_watch_volume,genre_movie_avg_rating,genre_great_than_3_rate
0,0,177,0,177,350,1858,1858,1858